@media screen and (max-width:800px) {
    /* NavBar */
    .navbar {
        top: 0;
    }
    .menu {
        display: block;
        margin: 20px;
        cursor: pointer;
        
    }
    .menu-all {
        display: none;
    }

    /* Home */

    .home {
        display: block;
        width: 100%;
    }
    
    .apresentation-home {
        text-align: center;
        width: 100%;
    }
    .apresentation-home strong {
        font-size: 50px;
    }
    .me-home {
        width: 100%;
    }
    .me-home img {
        display: block;
        margin:-100px auto;
        padding-top: 20px;
    }

    /* Projects  */

/* about-me  */
.about-me {
    height: auto;
}
.about-me-text {
    width: 100%;
    height: auto;
}
.about-me-text h1 {
    margin: 0px 0px 15px 20px;
}
.about-me-text p {
    margin-left: 20px;
}

        /* footer */

        .footer {
            text-align: center;
            height: 20vh;
        }
}
@media screen and (max-width:820px) {
    #projects h1 {
        margin-top: 30px;
    }
    .projetos {
        width: 100%;
   }
   .all-projects img {
    width: 80%;
    margin-bottom: 15px;
}
    .all-projects {
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }
}
@media screen and (max-width:450px) {
    .links-portfolio a {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
}